
.lm-auto-main-search-form .auto-search-top { margin: 0px; }
.lm-auto-main-search-form .lm-auto-partial-search-block { margin-top: 5px; }
.lm-auto-main-search-form .lm-auto-partial-search-block input { margin: 0px; display: inline; }
.lm-auto-main-search-form .lm-auto-partial-search-block label.lm-auto-partial-search { color: #777; display: inline; cursor: pointer; }
